{% extends 'heredac.html '%}

{% block contenido %}
<section id="one" class="wrapper style5">
<h4>Ingreso de Empleados</h4>
	<form method="post">
		{% csrf_token %}
		<div class="row uniform">
			<div class="6u 12u$(xsmall)">
				Nombre: {{ form.nombre }}
			</div>
			<div class="6u$ 12u$(xsmall)">
				DPI: {{ form.dpi }}
			</div>
			<div class="6u$ 12u$(xsmall)">
				Telefono: {{ form.telefono }}
			</div>
			<ul class="actions">
					<li><input type="submit" value="Agregar" class="special"/></li>
				</ul>
				<ul class="actions">
					<a href="{% url 'parcial1:listaEmpleado' %}" class="button">Lista de empleados</a>
				</ul>
			</div>
		</div>
	</form>
</section>
{% endblock %}