{% extends 'heredac.html' %}
{% block contenido%}
<h3>Listado de clientes</h3>
<table id="one" class="wrapper style5">
	<tr>
		<td>Nombre</td>
		<td>DPI</td>
		<td>Fecha</td>
		<td>Editar</td>
		<td>Eliminar</td>
	</tr>

	{% for est in object_list %}
	<tr>
		<td>{{ est.nombre }}</td>
		<td>{{ est.dpi }}</td>
		<td>{{ est.fecha }}</td>
		<td><a href="{% url 'parcial1:editar_cliente' est.id %}">Editar</a></td>
		<td><a href="{% url 'parcial1:eliminar_cliente' est.id %}">Eliminarr</a></td>
	</tr>
	{% endfor %}
</table>
	<ul>
			<li>
				{% if page_obj.has_previous %}
				<a href="?page={{ page_obj.previous_page_number }}">Previus</a>
				{% endif %}
			</li>
			<li>
				{% if page_obj.has_next %}
				<a href="?page={{ page_obj.next_page_number }}">Next</a>
				{% endif %}
			</li>
		</ul>
{% endblock %}